SPACEBYTE_BASE_URL=https://spacebyte.in/api/v1
SPACEBYTE_TOKEN=10358|1I9P4flSiA029bBMuN8rvJSd5F1PAuEcoTQ1kPU3cc3b1f93
SPACEBYTE_ALLOW_INSECURE_TLS=true
ADMIN_TOKEN=starzshots-go-crazy
PORT=8080
GIT_TOKEN=ghp_1I9P4flSiA029bBMuN8rvJSd5F1PAuEcoTQ1kPU3cc3b1f93
